#meetup{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    align-items: center;
    padding: 3em 10%;
}
#meetup h1 {
    padding-bottom: 1.1em;
}

#meetup h2 {
    padding-bottom: 0.6em;
    font-size: 1.2em;
}

#meetup p {
}