#Sponsors {
    display: flex;
    flex-direction: column;
}

.calltoaction {
    padding: 120px 10% 60px 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--blue);
    color: #FFFFFF;
}
.calltoaction img {
    display: none;
}
#Sponsors>h1{
    align-self: center;
    vertical-align: center;
    text-align: center;
    margin: 60px 0 0 0;
    width: 100%;
    padding: 2em 5%;
    color: var(--gray);
    background-color: var(--blue);
}
#Sponsors a {
    color: var(--dark-green);
    text-decoration: none;
    text-align: center;
    padding: 1.2em 5%;
}
#Sponsors a:hover {
    transform: scale(1.025);
}
.howtohelp {
    padding: 1.2em 5%;
}
.howtohelp p{
    margin: 20px 5%;
}
.backers {
    padding: 1em 5%;
}
.backers h2 {
    margin: 50px 0;
}
.backers img:hover {
    transform: scale(1.2);
    transition-duration: 0.25s;
    transition-delay: 2ms;
}

@media only screen and (min-width: 420px) {
    .calltoaction img {
        display: inherit;
        padding-right: 20px;
        min-width: 60px;
        max-width: 20%;
        height: auto;
    }

}