#CodeofConduct {
    width: 100%;
    height: 25%;
    margin: 0;
    position: relative;
}

#CodeofConduct section {
    background-color: var(--dark-green);
    color: #FFFFFF;
    text-align: center;
}