#friends-surreycodes{
    padding: 3em 10%;
    z-index: 99;
}
.friend-list{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}
.friend-list .circles{
    margin: 0 20px;
}
#left-arrow{
    position: absolute;
    left: -27px;
    transform: scale(2);
    color: var(--gray);
}
#right-arrow{
    position: absolute;
    right: -27px;
    transform: scale(2);
    color: var(--gray);
}