#header{
    position: fixed;
    display: flex;
    width: 100%;
    background-color: var(--dark-green);
    box-shadow: 0 0 1px var(--black);
    z-index: 999;
}
.logo{
    transition: 0.3s;
    transform: scale(3);
    transform-origin: top;
    z-index: 99;
}
.logo-true{
    transition: 0.3s;
    transform: scale(1);
    z-index: 99;
}
.navbar{
    position: relative;
    display: flex;
    width: 100%;
}
.navbar .branding{
    margin-right: auto;
}
.nav-link{
    flex: none;
    padding: 14px 16px;
    text-decoration: none;
    color: var(--white);
    font-size: 1.2em;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    text-align: center;
}
.navbar .nav-link:hover{
    border-bottom: 4px solid var(--light-green);
}

.active{
    border-bottom: 4px solid var(--light-green);
}
#toggler{
    display: none;
    font-size: 3em;
    border: none;
    background: none;
}
#toggler i{
    color: var(--light-green);
}
/*
  Media Queries
*/
@media only screen and (max-width: 1200px) {
    .logo{
        transform: scale(2);
    }
}
@media only screen and (max-width: 1024px) {
    #header .container{
        width: 90%;
    }
    .logo{
        transform: scale(1.1);
    }
    .nav-link{
        padding: 12px 14px;
        font-size: 1em;
    }
}
@media only screen and (max-width: 720px) {
    .header-mobile{
        transition: height .4s;
        -webkit-transition: height .4s; /* Safari */
        height: 60px;
        overflow: hidden;
        transition-timing-function: ease-in-out;
    }
    .header-mobile-drop{
        transition: height .4s;
        -webkit-transition: height .4s; /* Safari */
        height: 350px;
        overflow: hidden;
        transition-timing-function: ease-in-out;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-end;
    }
    .nav-link{
        padding: 14px 16px;
        font-size: 1.2em;
    }
    .logo{
        transform: scale(1.1);
    }
    #toggler{
        display: block;
        position: absolute;
        top: 2px;
        right: 20px;
        cursor: pointer;
    }
}