#hook{
    position: static;
}
.hero {
    width: 100%;
    max-width: 2800px;
    height: 25%;
    text-align: center;
    margin: 0;
    position: relative;
}
.hero .img-hero{
    width: 100%;
    max-width: 100%;
    position: static;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
.hero h1 {
    font-size: 2.5em;
    font-family: 'Roboto Mono', monospace;
    margin: auto;
    position: absolute;
    top: 49%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: var(--gray);
}
@media all and (max-width: 768px) {
    .hero{
        height: 50vw;
    }
    .hero h1 {
        font-size: 6vw;
        top: 10vw;
    }
}
.jumbotron{
    background-color: grey;
    padding-bottom: 100px;
}