#hook{
    position: static;
}
#hook>div{
    display: flex;
    width: 100%;
    max-width: 2800px;
    height: 50%;
    text-align: center;
    margin: 0;
    position: relative;
}
#hook>div>img{
    height: 300px;
    width: auto;
    position: static;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
#hook>div>h1{
    font-size: 2em;
    font-family: 'Roboto Mono', monospace;
    padding: .5em;
    position: absolute;
    top: 49%;
    color: var(--white);
    font-weight: bolder;
    text-shadow: 3px 2px var(--gray);
    text-align: center;
}
@media all and (min-width: 480px) {
    #hook>div{
    display: flex;
    align-content: center;
    justify-content: center;
    }
    #hook>div>img{
        height: 320px;
    }
    #hook>div>h1{
        font-size: 2.6em;
    }
}
@media only screen and (min-width: 720px){
    #hook>div>img{
        height: 450px;
    }
    #hook>div>h1{
        font-size: 3em;
    }
}
@media only screen and (min-width: 1400px){
    #hook>div>img{
        height: 600px;
    }
}