/*
/////////////////////////
Landing Image
/////////////////////////
*/
.fulltime-landingSection {
    width: 100%;
    max-width: 2800px;
    height: 25%;
    text-align: center;
    padding-top: 22px;
    position: relative;
}
.fulltime-landingSection img{
    width: 100%;
    max-width: 100%;
    margin-top: 18px;
    position: relative;
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}
.title-landingSection{
    font-family: 'Montserrat:700', sans-serif;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 5%;
    right: 5%;
    bottom: 0;
    z-index: 1;
    color: var(--white);
    text-shadow: 3px 2px var(--gray);
}
.button-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    margin: 2em 0;
    align-content: center;
}

.button-container button,#FulltimeProgram>div>button {
    font-family: 'Montserrat:300', sans-serif;
    border: none;
    color: Green;
    padding: 10px 2em;
    width: 8em;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    display: inline-block;
    font-size: .8em;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}
.button-container button:hover,#FulltimeProgram>div>button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.button-container button:active,#FulltimeProgram>div>button:active {
    background-color: #4CAF50;
    box-shadow: 0 3px #006800;
    transform: translateY(2px);
}
/*
/////////////////////////
All other code
/////////////////////////
*/
#FulltimeProgram>div{
    padding: 3em 10%;
}
#FulltimeProgram>div>button{
    width: 10em;
    font-size: x-large;
}
#FulltimeProgram>div>ol{
    padding: 10px 2px;
}